#sissebutton {
	/*background: url('images/v2rav.png') no-repeat center;*/
	display: block;

	/*padding:235px 0px;*/
	text-align: center;
	text-decoration: none;
	color: #333;
	/*font-weight: bold;*/
	font-size: 60px;
	/*text-shadow:0px 0px 10px black;*/
	font-family: 'BeonRegular';
	font-weight: normal;
	font-style: normal;
	/*background: transparent;*/
	position: absolute;
	width: 400px;
	height: 200px;
	/*background: #eee;*/
	top: 50%;
	left: 50%;
	margin: -100px 0 0 -200px;
	padding: 20px;
	/*border-radius: 4px;*/
	box-sizing: border-box;
	visibility: visible;
}
#sissebutton:hover{
	color: white;
	cursor: pointer;
}

body {
	background: #ffffff;
	margin:0px;
	font-family: 'SourceSansProRegular';
	font-size: 18px;
}
#wrap{
	width: 100%;
	/*background: white;*/
	/*margin: auto;*/
	overflow: auto;
	min-height:100%;
	/*position: relative;*/
}
#menu {
	display: block;
	position: static;
	height: 44px;
	list-style: none;
	background: #333;
	margin: 0px;
	text-align: left;
}
#menu li, #menu a {
	color: white;
	display: inline-block;
	text-decoration: none;
}
#menu li{
	padding: 10px 10px;
}
#menu li:hover, #menu a:hover, #foot-navi li:hover, #foot-navi a:hover, #validation-navi a:hover {
	color: #A8A8A8;
	cursor: pointer;
}
#content {
	/*padding:10px;*/
}
#login{
	/*margin: 0 auto;*/
	/*width: 50%;*/
	position: absolute;
	/*width: 200px;*/
	/*height: 200px;/*
	/*background: #eee;*/
	top: 50%;
	left: 50%;
	margin: -175px 0 0 -175px;
	padding: 20px;
	/*border-radius: 4px;*/
	box-sizing: border-box;
	/*margin-top:25%;*/
	visibility: hidden;
	background: #ecf0f1;
	width: 350px;
	border-radius: 5px;
	padding-top: 5px;
}
#login input[type="text"], #login input[type="password"] {
	font-size: 18px;
	border-radius: 5px;
	border: none;
	padding: 7px 15px;
	margin-top: 10px;
	width: 90%;
	display: block;
}
#login input[type="text"]:focus, #login input[type="password"]:focus {
	outline: none;
	box-shadow: 0 0 1px 1px #9900FF;
}
#login input[type="submit"]{
	background: #1abc9c;
	padding: 10px;
	font-size: 20px;
	display: block;
	width: 100%;
	border: none;
	color: #fff;
	border-radius: 5px;
}
#login input[type="submit"]:hover {
	background: #1bc6a4;
}
.puur {
	border: dashed grey 2px;
	margin:20px;
	float:left;
	width: 40%;
	padding:10px;
}
.puur img {
	height: 50px;

}
.puur h5 {
	margin: 0px;
}
.clear {
	clear:both;
}
#sisse {
	position: relative;
	width: 100%;
	height: 70%;
	min-height: 600px;
	background-color: #9900FF;
	/*background-image: url(images/blurnight.jpg);*/
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}
#footer{
	position: relative;
	bottom: 0;
	height: 120px;
	width: 100%;
	background: #333;
	margin: 0px;
}
#footbar{
	position: absolute;
	left: 50%;
	min-height: 120px;
	min-width: 400px;
	margin: 20px 0 0 -120px;

}
#foot-navi{
	position: absolute;
	/*top: 50%;
	left: 43%;*/
	margin: 0px 0 0 -60px;
	list-style: none;
}
#foot-navi li, #foot-navi a{
	color: white;
	text-decoration: none;
	text-align: left;
}
#foot-navi span{
	display: block;
	position: absolute;
	width: 16px;
	height: 16px;
	margin: 3px 0 0 -30px;
}
#authoricon{
	 background: url(images/author.png);
}
#abouticon{
	background: url(images/info.png);
}

#validation-navi{
	position: absolute;
	top: -5%;
	/*left: 45%;*/
	/*margin: 0px 0 0 -60px;*/
	list-style: none;
}
#validation-navi li, #validation-navi a{
	display: inline-block;
	color: white;
	text-decoration: none;
	text-align: left;
	margin: 0 0 0 35px;
}
#validation-navi span{
	display: inline;
	position: absolute;
	width: 32px;
	height: 32px;
	margin: 0 0 0 -40px;
}
.w3c{
	background: url(images/w3c.png);
}
#backbg {
	position: relative;
	left: 50%;
	margin-left: -300px;
	min-height: 600px;
	width: 600px;
	background-color: #ecf0f1;
}


