#sissebutton {
	/*background: url('images/v2rav.png') no-repeat center;*/
	display: block;

	/*padding:235px 0px;*/
	text-align: center;
	text-decoration: none;
	color: BLACK;
	/*font-weight: bold;*/
	font-size: 40px;
	/*text-shadow:0px 0px 10px black;*/
	font-family: 'BeonRegular';
	font-weight: normal;
	font-style: normal;
	/*background: transparent;*/
	position: absolute;
	width: 200px;
	height: 200px;
	/*background: #eee;*/
	top: 50%;
	left: 50%;
	margin: -110px 0 0 -100px;
	padding: 20px;
	/*border-radius: 4px;*/
	box-sizing: border-box;
	visibility: visible;
}

body {
	background: lightgrey;
	margin:0px;
	font-family: 'SourceSansProRegular';
	font-size: 1.3em;
}
#wrap{
	width: 100%;
	/*background: white;*/
	/*margin: auto;*/
	/*overflow: auto;*/
	min-height:600px;
}
#menu {
	list-style: none;
	background: grey;
	margin: 0px;
	padding: 0px;
	text-align: right;
}
#menu li, #menu a {
	display: inline-block;
}
#menu a {
	padding:5px 20px;
	color: black;
	text-decoration: none;
}
#menu a:hover {
	background: Aquamarine;
	color: DarkSlateGray;
}
#content {
	/*padding:10px;*/
}
#login{
	/*margin: 0 auto;*/
	/*width: 50%;*/
	position: absolute;
	width: 200px;
	height: 200px;
	/*background: #eee;*/
	top: 50%;
	left: 50%;
	margin: -110px 0 0 -100px;
	padding: 20px;
	/*border-radius: 4px;*/
	box-sizing: border-box;
	/*margin-top:25%;*/
	visibility: hidden;
}
.puur {
	border: dashed grey 2px;
	margin:20px;
	float:left;
	width: 40%;
	padding:10px;
}
.puur img {
	height: 50px;

}
.puur h5 {
	margin: 0px;
}
.clear {
	clear:both;
}
#sisse {
	position: absolute;
	width: 100%;
	height: 600px;
	background-color: #9900FF;
	/*background-image: url(images/blurnight.jpg);*/
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}
