<div id="backbg">
<div>College project</div>
    <?php
echo "<table border='1'>
    <tr>
        <td><b>Date</b></td>
        <td><b>Food</b> </td>
        <td><b>Weight</b> </td>
        <td><b>Delete</b> </td>
    </tr>";
    while($row = $result->fetch_assoc()) {
    echo "<tr>
    <td>".$row['day']."</td>
    <td>".$row['food_id']."</td>
    <td>".$row['weight']."</td>
    <td><a href='http://enos.itcollege.ee/~alikhach/Vorgurakendused1/Project/deleterow.php?id=" . $row['id'] . "'>del</a></td>

</tr>";}
    echo "</table>";
?>


    <form>
        <input type="text" size="30" onkeyup="showResult(this.value)">
        <div id="livesearch"></div>
    </form>
</div>
