<div id="backbg">
    <form action="?page=dailylog" method="POST" id="topdatepicker">
        <p class="myheading">Pick a date</p>
    <select name="day">
        <?php for ($i = 1; $i <= 31; $i++) : ?>
        <option value="<?= $i ?>"><?= $i ?></option>
        <?php endfor ?><?php if (isset($_POST['day'])) echo htmlspecialchars($_POST['day']); ?>
    </select>
    <select name="month">
        <?php for ($i = 1; $i <= 12; $i++) : ?>
        <option value="<?= $i ?>"><?= $i ?></option>
        <?php endfor ?><?php if (isset($_POST['month'])) echo htmlspecialchars($_POST['month']); ?>
    </select>
    <select name="year">
        <?php for ($i = 2015; $i <= date('Y'); $i++) : ?>
        <option value="<?= $i ?>"><?= $i ?></option>
        <?php endfor ?><?php if (isset($_POST['year'])) echo htmlspecialchars($_POST['year']); ?>
    </select>
        <input type="submit" value="OK" id="mybutton"/>
    </form>
<?php echo "<table>
<tr>
        <th><b>Date</b></th>
        <th><b>Food</b> </th>
        <th><b>Amount, g</b> </th>
        <th><b>Carbs, g</b></th>
        <th><b>Fats, g</b></th>
        <th><b>Proteins, g</b></th>
        <th><b>Alcohol, g</b></th>
        <th><b>Water, g</b></th>
        <th><b>Fiber, g</b></th>
        <th><b>Energy, kcal</b></th>
        <th><b>Delete</b> </th>
    </tr>";
    if($result!=null){
    while($row = $result->fetch_assoc()) {
    echo "<tr>
    <td>".$row['day']."</td>
    <td>".$row['foodname']."</td>
    <td>".round($row['weight'],2)."</td>
    <td>".round($row['carbs'],2)."</td>
    <td>".round($row['fats'],2)."</td>
    <td>".round($row['prots'],2)."</td>
    <td>".round($row['alcohol'],2)."</td>
    <td>".round($row['water'],2)."</td>
    <td>".round($row['fiber'],2)."</td>
    <td>".round($row['energy'],2)."</td>
    <td><form action='?page=delete' method='POST'>
        <input style='visibility: hidden; height: 0; width: 0;' name='id' value='". $row['id'] ."' size='1'/><input type='submit' value='x' class='deletebutton'/>
    </form>
    </td>

</tr>";}}
    echo "<tr>
    <td><b>TOTAL</b></td>
    <td><b></b> </td>
    <td><b>".round($tamount,2)."</b> </td>
    <td><b>".round($tcarbs,2)."</b></td>
    <td><b>".round($tfats,2)."</b></td>
    <td><b>".round($tprots,2)."</b></td>
    <td><b>".round($talcohol,2)."</b></td>
    <td><b>".round($twater,2)."</b></td>
    <td><b>".round($tfiber,2)."</b></td>
    <td><b>".round($tenergy,2)."</b></td>
    <td><b></b></td>
</tr>";
    echo "</table>";
?>
    <p class="myheading">Add new</p></br>
    <?php if (isset($errors)):?>
    <?php foreach($errors as $error):?>
    <div style="color:red;"><?php echo htmlspecialchars($error); ?></div>
    <?php endforeach;?>
    <?php endif;?>
    <div id="searchfood">
        <form action="?page=add" method="POST">
        <label>Date :</br></label>
        <select name="day">
            <?php for ($i = 1; $i <= 31; $i++) : ?>
            <option value="<?= $i ?>"><?= $i ?></option>
            <?php endfor ?><?php if (isset($_POST['day'])) echo htmlspecialchars($_POST['day']); ?>
        </select>
        <select name="month">
            <?php for ($i = 1; $i <= 12; $i++) : ?>
            <option value="<?= $i ?>"><?= $i ?></option>
            <?php endfor ?><?php if (isset($_POST['month'])) echo htmlspecialchars($_POST['month']); ?>
        </select>
        <select name="year">
            <?php for ($i = 2015; $i <= date('Y'); $i++) : ?>
            <option value="<?= $i ?>"><?= $i ?></option>
            <?php endfor ?><?php if (isset($_POST['year'])) echo htmlspecialchars($_POST['year']); ?>
        </select></br>
    <label>Search for food:</br></label>
    <input type="text" size="30" onkeyup="showResult(this.value)" class="livesearch"/></br>
        <label>Choose from result:</br></label>
        <select name="foodid" id="livesearch" required="required"><?php if (isset($_POST['foodid'])) echo htmlspecialchars($_POST['foodid']); ?></select></br>
        <label>Amount (g) :</br></label>
        <input type="number" name="amount" class="livesearch" min="0.01" step="0.01" required="required" value="<?php if (isset($_POST['amount'])) echo htmlspecialchars($_POST['amount']); ?>"/></br>
        <input type="submit" onsubmit="checkForm(this)" id="addbutton" value="+">
    </form>
        </div>
</div>
