</div>
</div>
<div id="footer">
    <div id="foot-menu">
    <ul id="foot-navi">
        <li><a href="/about" class="fn-about"><span id="abouticon"></span>About site</a></li>
        <li><a href="/author" class="fn-authors"><span id="authoricon"></span>Author</a></li>
    </ul>
    </div>
    <div id="validation">
    <ul id="validation-navi">
        <li><a href="http://validator.w3.org/check?uri=referer"><span class="w3c"></span>XHTML 1.0</a></li>
        <li><a href="http://jigsaw.w3.org/css-validator/check/check?uri=http://enos.itcollege.ee/~alikhach/Vorgurakendused1/Project/project-style.css"><span class="w3c"></span>CSS</a></li>
    </ul>
    </div>
</div>
</body>
</html>