<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>Project</title>
	<link rel="stylesheet" type="text/css" href="project-style.css">
	<link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/source-sans-pro" type="text/css"/>
	<link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/beon" type="text/css"/>
	<script src="particles.js"></script>
	<script src="app.js"></script>
</head>
<body>
<div id="wrap">
	<ul id="menu">
		<!--<li><a href="?">Pealeht</a></li> /-->
		<?php if(isset($_SESSION['user'])): ?>
			<li><a href="?page=loomad">Daily Log</a></li>
			<li><a href="?page=logout">Log out</a></li>
		<?php else: ?>
			<li id="menulogin">Log in</li>
			<li>!!!SITE IS UNDER CONSTRUCTION, PLEASE CHECK IT LATER!!!</li>
		<?php endif; ?>
	</ul>
	<div id="content">