<div id="sisse">
    <div id="sissebutton">GET STARTED</div>
    <div id="login">
        <p>For a test : <b>test / t3st</b> or <b>user1 / pa551</b></p>
        <form method="POST" >
            <input type="text" name="user" placeholder="username"/><br/>
            <input type="password" name="pass" placeholder="password"/><br/>
            <input type="submit" value="Log in"/>
        </form>
        <?php if (isset($errors)):?>
        <?php foreach($errors as $error):?>
        <div style="color:red;"><?php echo htmlspecialchars($error); ?></div>
        <?php endforeach;?>
        <?php endif;?>
    </div>

</div>